apiVersion: v1
kind: Service
metadata:
  name: flask
  labels:
    app: flask
spec:
  type: NodePort
  selector:
    app: flask
  ports:
    - port: 5071        # Service port
      targetPort: 5070  # Container port
      protocol: TCP
